locals {
  domain_name = "custom.domain.com"
  ssl_cert_arn = "arn:aws:acm:us-east-1:1234:certificate/abc123-def456"
}

terraform {
  backend "s3" {
    bucket = "example-bucket"
    key    = "terraform.tfstate"
    region = "us-east-1"
  }
}

resource "aws_key_pair" "minecraft" {
  key_name   = "minecraft"
  public_key = "ssh-rsa foobarbazfizzbuzzquixquux"
}
